<!DOCTYPE html>
<html lang="fa" class="has-aside-left has-aside-expanded has-aside-mobile-transition has-navbar-fixed-top">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- meta %>
        <link rel="stylesheet" href="/css/bulma.min.css">
        <link rel="stylesheet" href="/css/dashboard/dashboard.css">
        <link rel="stylesheet" href="/css/dashboard/main.min.css">
        <!-- <link rel="stylesheet" href="./font-awesome/css/font-awesome.css"> -->
        <link rel="stylesheet" href="/css/font.css">
        <%- style %>
            <title>
                <%= pageTitle %>
            </title>
</head>

<body>
    <div id="app">
        <%- include("../includes/dashboard/navbar.ejs") %>

            <%- include("../includes/dashboard/sidebar.ejs") %>

            <%- include("../includes/messages/verify_email_message.ejs") %>

                <%- body %>

                    <%- include("../includes/dashboard/secondSideBar.ejs") %>

                        <%- include("../includes/dashboard/footer.ejs") %>

    </div>
    <%- script %>

        <script type="text/javascript" src="/js/perfect-scrollbar.min.js"></script>
        <script type="text/javascript" src="/js/main.min.js"></script>


        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css">

</body>

</html>