<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- meta %>

        <link rel="stylesheet" href="/css/bulma.min.css">
        <link rel="stylesheet" href="/css/font-awesome.css">
        <link rel="stylesheet" href="/css/font.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/main-layout.css">
        <%- style %>
            <title>
                <%= pageTitle %>
            </title>
</head>

<body >
    <!-- including navbar -->
    <%- include("../includes/main_navbar.ejs") %>
        <!-- body -->
        <div id="app">
            <%- body %>
        </div>
        <!-- special javascripts of the page -->
        <%- script %>
            <!-- main layout needed javascript -->
            <script type="text/javascript" src="./js/main_layout.js"></script>
</body>

</html>