<section class="section is-title-bar">
	<div class="level">
		<div class="level-left">
			<div class="level-item">
				<ul>
					<li>Dashboard</li>
					<li>Posts</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="section hero is-fullheight ">
	<% if(!posts.length){ %>
		no posts found
		<% } if(posts.length) {%>
			<div class="card">
				<header class="card-header">
					<p class="card-header-title">
						<span class="icon"><i class="mdi mdi-ballot"></i></span>
						all posts
					</p>
				</header>
				<div class="card-content">
					<!-- posts list start here -->
					<% posts.forEach((post,key)=> { %>

						<div class="box">
							<div class="media-left is-flex is-flex-direction-row is-justify-content-space-between">

								<div class="is-left">
									<%= key + 1 %>

								</div>
								<div class="is-actions-cell">
									<div class="buttons is-right">
										<button class="button is-small is-primary" type="button">
											<span class="icon"><i class="mdi mdi-eye"></i></span>
										</button>
										<button class="button is-small is-warning" type="button">
											<span class="icon"><i class="mdi mdi-square-edit-outline"></i></span>
										</button>
										<button class="button is-small is-danger jb-modal" data-target="sample-modal"
											type="button">
											<span class="icon"><i class="mdi mdi-trash-can"></i></span>
										</button>
									</div>
								</div>
							</div>



							<article class="media">
								<div class="media-left">
									<figure class="image is-64x64">
										<img class="image is-64x64" src="<%= post.thumbnail??" /img/preview.png" %>" alt="Image">
									</figure>

								</div>
								<div class="media-content">
									<div class="content">
										<p>
											<strong>
												<%= post.title%>
											</strong>
											<small>
												<%= (new Date(post.createdAt)).toDateString() %>
											</small>
											<!-- <br> -->
											<span class="tag is-light">
												<%= post.status.key %>
											</span>
											<br>

											<%= post.brief %>
										</p>

									</div>
								</div>
							</article>
						</div>
						<% }); %>


							<nav class="pagination is-rounded" role="navigation" aria-label="pagination">
								<a class="pagination-previous">Previous</a>
								<a class="pagination-next">Next page</a>
								<ul class="pagination-list">

									<% if(currentPage>1){ %>
										<li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
										<% if(currentPage>3){ %>
											<li><span class="pagination-ellipsis">&hellip;</span></li>
											<% } %>

												<li><a class="pagination-link" aria-label="Goto page 45">
														<%= currentPage-1 %>
													</a></li>
												<% } %>

													<li><a class="pagination-link is-current" aria-label="Page 46"
															aria-current="page">
															<%= currentPage %>
														</a></li>




													<% if(totalPages>currentPage){ %>
														<li><a href="?page=<%= currentPage+1 %>" class="pagination-link"
																aria-label="Goto page 47">
																<%= currentPage+1 %>
															</a></li>
														<% } %>


															<% if(totalPages-currentPage>=2){ %>
																<li><span class="pagination-ellipsis">&hellip;</span>
																</li>


																<li><a class="pagination-link"
																		aria-label="Goto page 86">
																		<%= totalPages %>
																	</a></li>

																<% } %>

								</ul>
							</nav>

				</div>
				<%}%>
</section>