<section class="section is-title-bar">
	<div class="level">
		<div class="level-left">
			<div class="level-item">
				<ul>
					<li>Dashboard</li>
					<li>Posts</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="section hero is-fullheight ">
	<div class="card">
		<header class="card-header">
			<p class="card-header-title">
				<span class="icon"><i class="mdi mdi-ballot"></i></span>
				all posts
			</p>
		</header>
		<div class="card-content">
			<!-- posts list start here -->
			<% posts.forEach((post,key)=> { %>

				<div class="box">
					<div class="media-left is-flex is-flex-direction-row is-justify-content-space-between">

						<div class="is-left">
							<%= key + 1 %>

						</div>
						<div class="is-actions-cell">
							<div class="buttons is-right">
								<button class="button is-small is-primary" type="button">
									<span class="icon"><i class="mdi mdi-eye"></i></span>
								</button>
								<button class="button is-small is-warning" type="button">
									<span class="icon"><i class="mdi mdi-square-edit-outline"></i></span>
								</button>
								<button class="button is-small is-danger jb-modal" data-target="sample-modal"
									type="button">
									<span class="icon"><i class="mdi mdi-trash-can"></i></span>
								</button>
							</div>
						</div>
					</div>



					<article class="media">
						<div class="media-left">
							<figure class="image is-64x64">
								<img src="<%= post.thumbnail??" /img/preview.png" %>" alt="Image">
							</figure>

						</div>
						<div class="media-content">
							<div class="content">
								<p>
									<strong>
										<%= post.title%>
									</strong>
									<small>
										<%= (new Date(post.createdAt)).toDateString() %>
									</small>
									<!-- <br> -->
									<span class="tag is-light">
										<%= post.status.key %>
									</span>
									<br>

									<%= post.brief %>
								</p>

							</div>
						</div>
					</article>
				</div>
				<% }); %>


					<!-- <div class="b-table has-pagination">
				<div class="table-wrapper has-mobile-cards">
					<table class="table is-fullwidth is-striped is-hoverable is-fullwidth">
						<thead>
							<tr>
								<th></th>
								<th class="is-current-sort is-sortable">
									<div class="th-wrap">
										title <span class="icon is-small"><i class="mdi mdi-arrow-up"></i></span>
									</div>
								</th>
								<th class="is-sortable">status</th>
								<th class="is-sortable">created at</th>

								<th></th>
							</tr>
						</thead>
						<tbody>

							<% posts.forEach((post,key)=> { %>
								<tr>
									<td>
										<%= key + 1 %>

									</td>
									<td data-label="title">
										<%= post.title %>
									</td>

									<td data-label="status">
										<%= post.status.key %>
									</td>

									<td data-label="created at">
										<small class="has-text-grey is-abbr-like" title="Oct 25, 2020">

											<%= (new Date(post.createdAt)).toDateString() %>

										</small>
									</td>
									<td class="is-actions-cell">
										<div class="buttons is-right">
											<button class="button is-small is-primary" type="button">
												<span class="icon"><i class="mdi mdi-eye"></i></span>
											</button>
											<button class="button is-small is-warning" type="button">
												<span class="icon"><i class="mdi mdi-square-edit-outline"></i></span>
											</button>
											<button class="button is-small is-danger jb-modal"
												data-target="sample-modal" type="button">
												<span class="icon"><i class="mdi mdi-trash-can"></i></span>
											</button>
										</div>
									</td>
								</tr>
								<% }); %>


						</tbody>
					</table>
				</div>
				<div class="notification">
					<div class="level">
						<div class="level-left">
							<div class="level-item">
								<div class="buttons has-addons">
									<button type="button" class="button is-active">1</button>
									<button type="button" class="button">2</button>
									<button type="button" class="button">3</button>
								</div>
							</div>
						</div>
						<div class="level-right">
							<div class="level-item">
								<small>Page 1 of 3</small>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</section>