<script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.22.1/ckeditor.js"
	integrity="sha512-F8fV4+wpHYl9zul08Soff9H9fCx6OMIFfgbQcy+2v2gV7PdbT0OgM1LFwujQmwlLGWWKNbOFZ13uWP+Cbe0Ngw=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<section class="section is-title-bar">
	<div class="level">
		<div class="level-left">
			<div class="level-item">
				<ul>
					<li>Dashboard</li>
					<li>Posts</li>
					<li>New Post</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="section hero is-fullheight ">
	<div class="card">
		<header class="card-header">
			<p class="card-header-title">
				<span class="icon"><i class="mdi mdi-ballot"></i></span>
				create new post
			</p>
		</header>
		<div class="card-content">
			<form method="post" action="/dashboard/post/create">
				<div class="container">
					<%- include("../../includes/messages.ejs") %>
				</div>

				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label">Title</label>
					</div>
					<div class="field-body">
						<div class="field">
							<p class="control is-expanded has-icons-left">
								<input class="input" type="text" name="title" value="<%= flash.form_body?.title||"" %>"
									placeholder="Name">
								<span class="icon is-small is-left"><i class="mdi mdi-account"></i></span>
							</p>
						</div>

					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label">Status</label>
					</div>
					<div class="field-body">
						<div class="field is-narrow">
							<div class="control">
								<div class="select is-fullwidth">
									<select name="status">
										<% statusList.forEach(status=> { %>

											<option <%=flash.form_body?.status==status.id? "selected='true'" :"" %>
												value="<%= status.id %>">
													<%= status.key %>
											</option>
											<% }); %>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label">Post</label>
					</div>
					<div class="field-body">
						<div class="field">
							<div id="toolbar-container"></div>

							<div class="control">
								<textarea class="textarea" name="body" placeholder="">
									<%= flash.form_body?.body||'' %>
								</textarea>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="field is-horizontal">
					<div class="field-label">
						<!-- Left empty for spacing -->
					</div>
					<div class="field-body">
						<div class="field">
							<div class="field is-grouped">
								<div class="control">
									<button type="submit" class="button is-primary">
										<span>Submit</span>
									</button>
								</div>

							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

<script>
	CKEDITOR.replace('body')
</script>